<nav class="navbar bg-secondary">
  <div class="container-fluid">
    <a href="/">
      <img
        class="navbar-brand mb-0 h1 text-white"
        src="/public/movies.ico"
        alt=""
        width="50"
      />
    </a>
    <span class="navbar-brand mb-0 h1 text-white">Movies</span>
  </div>
</nav>
